nav.navbar {
  border-bottom: 1px solid $gray-300;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .home-link {
    .logo { height: 2.8rem; }
  }
  .navbar-nav {
    width: 100%;
    justify-content: center;

    .nav-item { flex: 1 0 auto; }
    .nav-btn { padding: .3rem 0; }
  }
}
