// Bootstrap
$primary: #bd001f;
$bootstrap-input-border: #ced4da;
$bootstrap-input-color: #495057;

$white: #fff;
$black: #000000;
$gray-200: #ececec;
$gray-300: #dedede;
$gray: #aaaaaa;
$gray-900: #191919;
$overlay: rgba(0, 0, 0, 0.40);
