<div class="row mb-4">
  <div class="col-md-12">
    <h3 class="text-center">My atelier</h3>
  </div>
</div>
<div class="row mb-4">
  {{#each model as |upload|}}
    {{upload-card upload=upload}}
  {{/each}}
</div>
<div class="row mb-4">
  <div class="col-md-12 text-center">
    {{link-to 'Upload More Art' 'authenticated.my-atelier.upload-art'}}
  </div>
</div>
