<div id="upload-art">
  <div class="row mb-4">
    <div class="col md-12">
      <h3 class="text-center">Submit your artwork</h3>
      <p class="text-center">
        <span class="required font-weight-500">Please upload 5 of your best artworks and provide required details for each</span><br>
        <span class="text-muted max-file-size">Max file size: 2MB. Supported formats: JPG, JPEG, PNG.</span>
      </p>
    </div>
  </div>

  {{#each uploadLoop}}
    {{upload-art uploads=uploads}}
  {{/each}}
  {{#if uploads.length}}
    <button
      type="submit"
      class="btn btn-primary btn-sm float-right"
      disabled={{submitArtworkTask.isRunning}}
      {{action 'submitArtwork'}}>
      {{if submitArtworkTask.isRunning 'Submitting' 'Submit artwork'}}
    </button>
  {{/if}}
</div>
