<nav class="navbar navbar-expand-md navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarCollapeAction" aria-controls="navbarCollapeAction" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 navbarCollapeAction">
    {{!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Left</a>
      </li>
    </ul> --}}
  </div>
  <div class="mx-auto order-0">
    {{#link-to 'authenticated' class='home-link'}}
      <img src="/images/main-logo.png" alt="main-logo" class="logo">
    {{/link-to}}
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 navbarCollapeAction">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item d-flex align-items-center justify-content-end">
        {{link-to 'My atelier' 'authenticated.my-atelier' class="nav-link"}}
      </li>
      <li class="nav-item d-flex align-items-center justify-content-end">
        {{link-to 'Account settings' 'authenticated.account-settings' class="nav-link"}}
      </li>
      <li class="nav-item nav-btn d-flex justify-content-end">
        <button class="btn btn-outline-dark" type="submit" {{action 'signOut'}}>Sign out</button>
      </li>
    </ul>
  </div>
</nav>
